<div class="flex flex-col h-screen bg-gray-50">
  <app-header></app-header>

  <div class="flex flex-1 overflow-hidden">
    <app-sidebar [activeView]="activeRoute"></app-sidebar>

    <main class="flex-1 overflow-auto bg-white">
      <div *ngIf="activeRoute === 'inbox'" class="flex h-full">
        <div class="w-80 border-r border-gray-200">
          <app-email-list></app-email-list>
        </div>
        <div class="flex-1">
          <app-email-detail></app-email-detail>
        </div>
      </div>
      
      <div *ngIf="activeRoute === 'contacts'" class="p-6 h-full">
        <app-contact-list></app-contact-list>
      </div>

      <div *ngIf="activeRoute === 'filters-rules'" class="p-6 h-full">
        <app-filter-list></app-filter-list>
      </div>
      
    </main>
  </div>
</div>

<app-email-compose></app-email-compose>